li {
display: inline;
   
}
body {background-color: firebrick;
    border: 2px solid powderblue;
  padding: 50px;
}


div.test1 {color: gold}
div.test2 {color: blue}
div.test3 {color: navajowhite}
div.test4 {color: purple}
div.test5 {color: teal}
div.test6 {color:aliceblue}
div.test7 {color: orange}
div.test8 {color:chartreuse}


p.test1 {font-size: 50%;}
p.test2 {font-size: 60%;}
p.test3 {font-size: 70%;}
p.test4 {font-size: 80%;}
p.test5 {font-size: 90%;}
p.test6 {font-size: 100%;}
p.test7 {font-size: 110%;}
p.test8 {font-size: 120%;}
 
textarea {background-color: chocolate;
        border: 1px black;
        width: 100%;
        height: 100px
}
table {border-collapse: collapse;}
table,th,td {border:2px solid black;
    }